<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityCode</key>
		<string>460100</string>
		<key>regions</key>
		<array>
			<dict>
				<key>id</key>
				<string>460100</string>
				<key>name</key>
				<string>不限地区</string>
			</dict>
			<dict>
				<key>id</key>
				<string>460101</string>
				<key>name</key>
				<string>市辖区</string>
			</dict>
			<dict>
				<key>id</key>
				<string>460105</string>
				<key>name</key>
				<string>秀英区</string>
			</dict>
			<dict>
				<key>id</key>
				<string>460106</string>
				<key>name</key>
				<string>龙华区</string>
			</dict>
			<dict>
				<key>id</key>
				<string>460107</string>
				<key>name</key>
				<string>琼山区</string>
			</dict>
			<dict>
				<key>id</key>
				<string>460108</string>
				<key>name</key>
				<string>美兰区</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cityCode</key>
		<string>460200</string>
		<key>regions</key>
		<array>
			<dict>
				<key>id</key>
				<string>460200</string>
				<key>name</key>
				<string>不限地区</string>
			</dict>
			<dict>
				<key>id</key>
				<string>460201</string>
				<key>name</key>
				<string>市辖区</string>
			</dict>
			<dict>
				<key>id</key>
				<string>460202</string>
				<key>name</key>
				<string>海棠区</string>
			</dict>
			<dict>
				<key>id</key>
				<string>460203</string>
				<key>name</key>
				<string>吉阳区</string>
			</dict>
			<dict>
				<key>id</key>
				<string>460204</string>
				<key>name</key>
				<string>天涯区</string>
			</dict>
			<dict>
				<key>id</key>
				<string>460205</string>
				<key>name</key>
				<string>崖州区</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cityCode</key>
		<string>460200</string>
		<key>titles</key>
		<array>
			<dict>
				<key>id</key>
				<string>460200</string>
				<key>name</key>
				<string>不限地区</string>
			</dict>
			<dict>
				<key>id</key>
				<string>460201</string>
				<key>name</key>
				<string>市辖区</string>
			</dict>
			<dict>
				<key>id</key>
				<string>460202</string>
				<key>name</key>
				<string>海棠区</string>
			</dict>
			<dict>
				<key>id</key>
				<string>460203</string>
				<key>name</key>
				<string>吉阳区</string>
			</dict>
			<dict>
				<key>id</key>
				<string>460204</string>
				<key>name</key>
				<string>天涯区</string>
			</dict>
			<dict>
				<key>id</key>
				<string>460205</string>
				<key>name</key>
				<string>崖州区</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cityCode</key>
		<string>460200</string>
		<key>titles</key>
		<array>
			<dict>
				<key>id</key>
				<string>460200</string>
				<key>name</key>
				<string>不限地区</string>
			</dict>
			<dict>
				<key>id</key>
				<string>460201</string>
				<key>name</key>
				<string>市辖区</string>
			</dict>
			<dict>
				<key>id</key>
				<string>460202</string>
				<key>name</key>
				<string>海棠区</string>
			</dict>
			<dict>
				<key>id</key>
				<string>460203</string>
				<key>name</key>
				<string>吉阳区</string>
			</dict>
			<dict>
				<key>id</key>
				<string>460204</string>
				<key>name</key>
				<string>天涯区</string>
			</dict>
			<dict>
				<key>id</key>
				<string>460205</string>
				<key>name</key>
				<string>崖州区</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cityCode</key>
		<string>460200</string>
		<key>titles</key>
		<array>
			<dict>
				<key>id</key>
				<string>460200</string>
				<key>name</key>
				<string>不限地区</string>
			</dict>
			<dict>
				<key>id</key>
				<string>460201</string>
				<key>name</key>
				<string>市辖区</string>
			</dict>
			<dict>
				<key>id</key>
				<string>460202</string>
				<key>name</key>
				<string>海棠区</string>
			</dict>
			<dict>
				<key>id</key>
				<string>460203</string>
				<key>name</key>
				<string>吉阳区</string>
			</dict>
			<dict>
				<key>id</key>
				<string>460204</string>
				<key>name</key>
				<string>天涯区</string>
			</dict>
			<dict>
				<key>id</key>
				<string>460205</string>
				<key>name</key>
				<string>崖州区</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cityCode</key>
		<string>460200</string>
		<key>titles</key>
		<array>
			<dict>
				<key>id</key>
				<string>460200</string>
				<key>name</key>
				<string>不限地区</string>
			</dict>
			<dict>
				<key>id</key>
				<string>460201</string>
				<key>name</key>
				<string>市辖区</string>
			</dict>
			<dict>
				<key>id</key>
				<string>460202</string>
				<key>name</key>
				<string>海棠区</string>
			</dict>
			<dict>
				<key>id</key>
				<string>460203</string>
				<key>name</key>
				<string>吉阳区</string>
			</dict>
			<dict>
				<key>id</key>
				<string>460204</string>
				<key>name</key>
				<string>天涯区</string>
			</dict>
			<dict>
				<key>id</key>
				<string>460205</string>
				<key>name</key>
				<string>崖州区</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
