<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>name</key>
		<string>推荐兼职</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>name</key>
		<string>工资最高</string>
	</dict>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>name</key>
		<string>最新发布</string>
	</dict>
</array>
</plist>
